.quantity
{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding: 5%;
    border-radius: 5px;
}

.quantity img{
    width: 15px;
    height: 15px;
}

h3 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-m);
}

.cart
{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    /* background-color: hsl(26, 100%, 55%); */
    background-color: var(--main-color);
    color: white;
    padding: 5%;
    border-radius: 10px;
}