.containerProduct {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

#brand {
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    font-family: var(--font-family);
    font-weight: var(--font-weight-m);
}

#model {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: var(--font-weight-m);
    font-size: 30px;
}

#description {
    font-family: var(--font-family);
    color: var(--dark-grayish-blue);
    line-height: 170%;
}