.product {
    position: relative;
}

#imageproduct {
    width: 100vh;
    height: 300px;
}

#icon-next {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
}