.quantity
{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    padding: 5%;
    border-radius: var(--border-radius-s);
}

.quantity img{
    width: 15px;
    height: 15px;
}

#quantityText {
    font-weight: var(--font-weight-m);
}

.cart
{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--main-color);
    padding: 5%;
    width: 90%;
    border-radius: var(--border-radius-m);
    border: var(--main-color) solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cart p {
    font-size: 16px;
    font-weight: var(--font-weight-m);
}