#shadow {
    width:100%;
    height:100%;
    background-color: var(--black);
    position:absolute;
    z-index:999;
    opacity:0.75;
}

.menu {
    width: 250px;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    z-index: 1000;
}

#cross {
    margin-left: 20px;
    margin-top: 30px;
}

.section {
    font-weight: var(--font-weight-m);
}