.priceContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.priceReduction {
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
}

#actualPrice {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    margin-right: 10%;
}

#reductionText {
    font-size: 16px;
    font-weight: var(--font-weight-m);
    color: var(--main-color); 
}

#reduction {
    background-color: var(--second-color);
    width: 25%;
    height: 75%;
    border-radius: var(--border-radius-s);
    display: flex;
    justify-content: center;
    align-items: center;
}

#oldPrice {
    font-family: var(--font-family);
    color: var(--grayish-blue);
    margin-top: 3.5%;
    font-weight: var(--font-weight-m);
    text-decoration: line-through;
}